.m-body{padding:10px;font-size:14px;line-height:1.5em;text-align:center;}
.m-leadwords{margin-top:20px;font-size:25px;}
.m-leadwords .line{}
.m-leadwords .line-1{}
.m-leadwords .line-2{margin-top:10px;font-size:18px;}

.m-recommend{margin-top:40px;}
.m-recommend .recommend-book-title{font-size:18px;font-weight:bold;padding:5px 10px;background-color:#f3f3f3;}
.m-recommend .recommend-book{}
.m-recommend .recommend-book-name{margin-top:10px;font-size:16px;}
.m-recommend .recommend-book-name .author{}
.m-recommend .recommend-book-img{margin-top:20px;}
.m-recommend .recommend-book-img img{max-width:100%;height:auto;}

.m-recommend .recommend-desc{margin-top:10px;}
.m-recommend .recommend-reason-title{margin-top:10px;padding-top:10px;border-top:1px #ccc solid;font-size:18px;}
.m-recommend .recommend-reason{margin-top:20px;}
